---
# tasks file for master
- name: Reset Kubernetes Master
  shell: kubeadm reset -f
  register: kubeadm_reset
  become: yes

- name: Pre-pull images
  shell: "kubeadm config images pull -v3"
  register: pre_pull_images
  become: yes

- name: "Initialize Master {{ kubernetes_version }}"
  shell: kubeadm init --token={{ token }} --token-ttl=0
  register: kubeadm_init
  when: kubeadm_reset is succeeded
  become: yes

- name: Create Kubernetes config directory
  file:
    path: /root/.kube/
    state: directory
    owner: root
    group: root
    mode: 0755
  become: yes

- name: Copy admin.conf to config directory
  copy:
    src: /etc/kubernetes/admin.conf
    dest: /root/.kube/config
    owner: root
    group: root
    mode: 0755
    remote_src: yes
    backup: yes
  when: kubeadm_init
  become: yes

- name: Join Kubernetes Cluster
  shell: kubeadm join --ignore-preflight-errors=all --token {{ token }} {{ groups['kube_masters'][0] }}:6443 --discovery-token-unsafe-skip-ca-verification
  when: kubeadm_reset is succeeded
  register: kubeadm_join
  become: yes

- name: Install weave (Networking)
  shell: kubectl apply -f “https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d ‘\n’)” 
  become: yes

#- name: Pass bridged IPv4 traffic to iptables' chains
#  sysctl:
#    name: net.bridge.bridge-nf-call-iptables
#    value: 1
#    state: present
#  become: yes

#- name: Poke kubelet
#  systemd:
#    name: kubelet
#    state: restarted
#    daemon_reload: yes
#    enabled: yes
#  register: kubelet_poke
#  become: yes